[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
databases = "*"
pydantic = {extras = ["email"], version = "*"}
fastapi = "*"
uvicorn = {extras = ["standard"], version = "*"}
python-slugify = "*"
python-dotenv = "*"
motor = "*"
emails = "*"
pyjwt = "*"
passlib = {extras = ["bcrypt"], version = "*"}

[dev-packages]
black = "*"
isort = "*"
mypy = "*"
autoflake = "*"
flake8 = "*"

[requires]
python_version = "3.11"
